# registry
registry=http://registry.npm.taobao.org/
# proxy
proxy=http://proxy_host:port
# https-proxy
https-proxy=http://proxy_host:port
# strict-ssl Whether or not to do SSL key validation when making requests to the registry via https.
strict-ssl=false
